<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">Smartphone Agenda</h1>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contacts</h5>
          <ul class="list-group">
            <li class="list-group-item d-flex flex-column justify-content-between align-items-center">
              
              <div class="w-100 d-flex justify-content-between align-items-center contact-actions">
                Mike Johnson <span class="text-muted">555-9876</span>
                <button class="btn btn-link text-primary"><i class="bi bi-pencil-fill"></i></button>
                <button class="btn btn-link text-danger"><i class="bi bi-trash-fill"></i></button>
              </div>
              <div class="row m-0 w-100">
                <div class="col-12 p-0 pb-2">Additional Infos:</div>
                <div class="col-5 p-0">
                  Email: Email
                </div>
                <div class="col-5 p-0">
                  Phone 2: Phone 2
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <button class="btn btn-primary floating-add-button"><i class="bi bi-plus"></i></button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
